# roles/docker_payload_storage/templates/docker-compose.yml.j2
services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:2024.12.2
    container_name: cloudflared-{{ inventory_hostname }}
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=your_test_token_here